@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (max-width: 830px){
    .mainContent .welcomeBlock{
        margin-left: 20px;
    }
    .mainContent .searchInputBox{
        width: 90%;
    }
}
@media screen and (max-width: 450px){
    .mainContent .titleTxt{
        padding-left: 30px;
        padding-top: 70px;
    }
    .mainContent .descriptionTxt{
        padding-left: 30px;
    }
    .mainContent .searchForm{
        padding-left: 30px;
    }
    .mainContent .userContainer{
        padding-left: 30px;
    }
}

:root{
    --mainBodyColor: #f9f9f9;
    --btnBackColor: #00abde;
    --darkerWhiteTxtColor: #f1f1f1;
    --whiteColor: #fff;
    --darkTxtColor: #071426;

    /*--mainBodyColor: #171a1f;
    --btnBackColor: #00abde;
    --darkerWhiteTxtColor: #1d2025;
    --whiteColor: #22262e;
    --darkTxtColor: #e7e7e7;*/
}
.darkMode{
    --mainBodyColor: #171a1f;
    --btnBackColor: #00abde;
    --darkerWhiteTxtColor: #1d2025;
    --whiteColor: #23262e;
    --darkTxtColor: #e7e7e7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: var(--mainBodyColor);
}

/* -- Start of cookie popup -- */

.cookiePopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    padding: 25px;
    background: var(--whiteColor);
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.cookiePopup.hide{
    display: none;
}

.cookieImg{
    max-width: 80px;
}

.content{
    margin-top: 10px;
}

.content h3{
    font-size: 22px;
    font-weight: bold;
    color: var(--darkTxtColor);
}

.content p{
    margin-top: 5px;
    color: var(--darkTxtColor);
}

.popupBtn{
    border: none;
    border-radius: 20px;
    margin-top: 8px;
    background: var(--btnBackColor);
    color: #fff;
    padding: 7px 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}

.content a{
    color: var(--btnBackColor);
    font-weight: bold;
    padding: 0 7px;
}

/* -- Finish of cookie popup -- */

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 30px 10px;
    height: 15px;
    width: 100%;
    background: var(--whiteColor);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.welcomeTxt{
    font-size: 17px;
    color: var(--darkTxtColor);
    font-weight: 600;
}

.showMenuBtn{
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 35px;
    height: 50px;
}

.showMenuBtn svg{
    width: 80%;
    fill: var(--darkTxtColor);
}

#showMenu{
    display: block;
}
#showMenu:checked ~ .sidebar{
    width: 300px;
    margin-left: 0;
}
#showMenu:not(:checked) ~ .sidebar ul li a{
    display: none;
}
#showMenu:not(:checked) ~ .sidebar .accBtn{
    display: none;
}
#showMenu:not(:checked) ~ .sidebar #darkmodeBtn{
    display: none;
}
.header .fermeLogo{
    width: 50px;
    margin-left: 50px;
}

.header .regBtn{
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    justify-self: flex-end;
    background: var(--btnBackColor);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.sidebar{
    position: fixed;
    margin-left: -60px;
    width: 60px;
    height: 95%;
    left: 0;
    top: 60px;
    background: var(--whiteColor);
    transition: 0.5s;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.sidebar ul{
    top: 0;
    left: 0;
    min-width: 100%;
}

.sidebar ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover{
    background: var(--darkerWhiteTxtColor);
}

.sidebar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: var(--whiteColor);
    text-decoration: none;
    line-height: 60px;
    align-items: center;
}

.sidebar ul li a .icon{
    fill: var(--darkTxtColor);
    position: relative;
    display: block;
    width: 60px;
    line-height: 60px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar ul li a span{
    font-size: 17px;
    font-weight: 500;
    line-height: 60px;
    color: var(--darkTxtColor);
}

#darkmodeBtn{
    cursor: pointer;
    left: 15px;
    fill: var(--darkTxtColor);
    position: fixed;
    bottom: 10px;
}

.accBtn{
    position: fixed;
    bottom: 10px;
    left: 55px;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    background: var(--btnBackColor);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.mainContent{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.mainContent .titleTxt{
    color: var(--darkTxtColor);
    font-size: 60px;
    font-weight: 800;
    padding: 100px 20px 10px 60px;
}

.mainContent .descriptionTxt{
    font-weight: 600;
    font-size: 18px;
    color: var(--darkTxtColor);
    padding: 0 20px 10px 60px;
}

.mainContent .searchForm{
    margin-top: 15px;
    width: 80%;
    padding-left: 60px;
}

.mainContent .searchBlock{
    display: flex;
    justify-content: flex-start;
}

.mainContent .searchInputBox{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    width: 50%;
    color: var(--darkTxtColor);
    background: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px 0px;
    transition: .5s;
    transition-property: box-shadow, background;
}

.mainContent .searchInputBox:focus{
    background: var(--darkerWhiteTxtColor);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 30px 0px;
}
.listGeneratorBtn{
    outline: none;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    background: var(--btnBackColor);
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    margin-left: 60px;
    margin-top: 10px;
}

.mainContent .inviaBtn{
    display: flex;
    outline: none;
    border: none;
    padding: 7px 9px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--btnBackColor);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    margin-left: 10px;
}
.mainContent .inviaBtn svg{
    fill: #fff;
}

.mainContent .userContainer{
    width: 95%;
    min-height: 200px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px 0 60px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: -10px;
}

.userContainer .searchedUserBox{
    outline: none;
    border: none;
    min-width: 145px;
    min-height: 165px;
    max-width: 145px;
    max-height: 165px;
    background: var(--whiteColor);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 15px 0px;
    transition: .3s;
    transition-property: box-shadow, transform, height;
    margin-left: 20px;
    margin-bottom: 30px;
}
.searchedUserBox .profileImg{
    border-radius: 50%;
}
.searchedUserBox h3{
    margin-top: 10px;
    font-size: 17px;
    color: var(--darkTxtColor);
    word-wrap: break-word;
}

.userContainer .searchedUserBox:hover{
    transform: translateY(-2.5px);
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 35px 0px;
}
